.container{
    margin: 0;
}

/*navbar styles */
.Nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    

}

    
    

.left-side .logo img{
    width: 60px;
    height: auto;
    padding-right: 20px;
    
}
 .left-side .name{
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 22px;
    font-size: 20px;
}
.logo{
    display: flex;
}
.right-side{
    display: flex;
    
}
.right-side .nav-links{
    padding-left: 200px;
    padding-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
   
}
.nav-links a{
    text-decoration: none;
    color: black;
    transition: color 0.5s;
    border-bottom: solid transparent;
}
.nav-links a:hover {
    color:springgreen;
    border-bottom: solid black;
}

}