.container{
    margin: 0;
}

/*navbar styles */
.Nav-bar{
    display: flex;
    justify-content: space-between;

}

    
    

.left-side .logo img{
    width: 50px;
    height: auto;
    padding-right: 20px;
    
}
 .left-side .name{
    text-transform: uppercase;
    padding-top: 19px;
}
.logo{
    display: flex;
}